{
	"db"  : {
	    "dsn" : "DBI:mysql:nikolo",
	    "user" : "nikolo",
	    "password" : "",
        "params" : {
            "mysql_enable_utf8" : "1",
        },
 	},

	"charset" : "utf-8",

#ToDo: надо путь автоматом вычислять
	"path" : "/usr/local/www/NikoloCMS/",

	"site_name" : "",

	"main_block_template" : "/usr/local/www/NikoloCMS/templates/.blocks/",

	"main_mail_template" : "/usr/local/www/NikoloCMS/templates/.mail/",

	"distfiles" : "/usr/local/www/NikoloCMS/distfiles/",

	"title_prefix" : "nikoloCMS - ",

	"SAPE_CONF"	   : {
		"user" : "",
		"host" : "", # Если не указано, то: $ENV{HTTP_HOST}
		"charset" : "utf-8", # Если не указано, то: windows-1251
	},
	"ENABLE_SAPE" : "0",
	"ENABLE_SAPE_CONTEXT" : "0",
	"EMAIL_FROM" : "",
}

